# sbt specific
/project/project/
/project/target/
/target/
/build.sbt.bak

# IDE-specific files
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
/out/

# VSCode
.vscode/

# Eclipse
.classpath
.project
.settings/
.worksheet

# Metals
.metals/
.bloop/
.bsp/

# Mac OS X
.DS_Store

# Log files
*.log

# Other
.cache
.cache-main
.sass-cache/
*.css.map
*.sass.map
*.scss.map
